@model Product

<div class="card card-outline-primary m-1 p-1">
    <div class="bg-faded p-1">
        <h4>
            @Model.ProductName
            <span class="text-dark" style="float:right">
                <small>@Model.ProductPrice.ToString("c")</small>
            </span>
        </h4>
        @Model.ProductDescription
    </div>
    <form asp-page="/Cart" method="post">
        <input type="hidden" asp-for="ProductId" />
        <input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.PathAndQuery()" />
        <button type="submit" class="btn btn-dark text-white btn-sm" style="float:right">
            Add to cart
        </button>
    </form>
</div>
 